{% extends 'base.html' %}

{% block title %}
Terms & Condition
{% endblock title %}

{% block head %}
{% load static %}

<link rel="stylesheet" href={% static 'css/home.css' %}>
<link rel="stylesheet" href={% static 'css/terms.css' %}>

{% endblock head %}


{% block body %}

<div class="container px-8 py-14 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-full w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 poppins">Maa Bhavani Dharmik Yatra Terms & Condition</h1>
        <div class="h-1 w-[6.5rem] bg-indigo-700 rounded"></div>
      </div>
    </div>


    <table class="w-full border-separate border-spacing-4 border-y-2 poppins">
      <thead class="text-lg md:text-xl">
        <tr>
          <th>No. of days before commencement of Trip*</th>
          <th>Total Deductions</th>
        </tr>
      </thead>
      <tbody class="w-full border-separate border-spacing-4 border-y-2 md:text-lg text-slate-700">
        <tr>
          <td>Booking amount is not refundable</td>
          <td>3100/-</td>
        </tr>
        <tr>
          <td>Up to 15 days (excluding departure date)</td>
          <td>Rs. 25% per passenger</td>
        </tr>
        <tr>
          <td>Up to 8-14 days (excluding departure date)</td>
          <td>50 % of the package cost</td>
        </tr>
        <tr>
          <td>Up to 4-7 days (excluding departure date)</td>
          <td>75 % of the package cost</td>
        </tr>
        <tr>
          <td>Less than 4 days</td>
          <td>100 % of the package cost</td>
        </tr>
      </tbody>
    </table>

    <!-- Terms and Condition --> 
    <div class="flex flex-wrap w-full mb-10 mt-10">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 poppins">Terms & Conditions</h1>
      </div>
      <ul class="list-disc list-inside poppins text-justify">
        <li class="mt-6 text-gray-600">
            Passengers have to board and de-board the train at nominated stations as per the final company order and local transportation expenses to be borne by tourists on their own.
        </li>
        <li class="mt-6 text-gray-600">
            The package tour decided by the kamakhaya company which will include Sleeper Class/Third A/c Train Tickets, Pure Vegetarian Breakfast, Lunch & Dinner accommodation for Standard Package and Hotels accommodation for Comfort Passengers and Bus for local sightseeing only.
        </li>
        <li class="mt-6 text-gray-600">
            At Destinations, hotel accommodation (room/ Hall) will be provided for standard passengers and Hotels accommodation for Comfort Passengers. However, if guests want, they can request the Tour Escort/Train Management for the booking of spical luxury hotel rooms on extra cost to be paid by the guest as per the feasibility and availability. (There is no commitment of providing beds and room to Pilgrim Special tour Clients).
        </li>
        <li class="mt-6 text-gray-600">
            Being a cost value package, personalized service is not viable; hence kindly converge with the group. In case of any assistance required, do contact our group representative.
        </li>
        <li class="mt-6 text-gray-600">
            Passenger should get full briefing about the tour from kamakhaya yatra before/after the booking to avoid any confusion.
        </li>
        <li class="mt-6 text-gray-600">
            20 liter packaged drinking water Jar will be provided per day for each sleeper class coach and One liter packaged water bottle per tourist per day shall be provided to 3AC passengers. Drinking water for due course of journey except during lunch & dinner have to be managed by the guest directly Campany is not bound to Provide unlimited usage of Packaged drinking water.
        </li>
        <li class="mt-6 text-gray-600">
            Normal room temperature water will be served on board where as company will try to serve cool water (Subject to availability of Ice during the journey. Serving cool water on board is not mandatory.
        </li>
        <li class="mt-6 text-gray-600">
            Passengers before boarding the train should ensure the proper Check up of their body/ health from their Doctor in order to be fit for travelling, company will not be responsible for any mishap due to unfit condition/ health problem such as restlessness/ anxiety/ Unusual breathing problem of Asthmatic clients/ any other physical problems and Natural Death of the passengers.
        </li>
        <li class="mt-6 text-gray-600">
            No rude behavior will be entertained, further to which you will be forced to drop from the tour.
        </li>
        <li class="mt-6 text-gray-600">
            Avoid any unlawful arguments and disquieting the beauty of tour programme.
        </li>
        <li class="mt-6 text-gray-600">
            Kindly queue while boarding the buses and don't rush at the accommodation centre. Our representative would allot accommodation as specified.
        </li>
        <li class="mt-6 text-gray-600">
            It is the duty of the co-passenger to provide seats first for the Handicapped and old people.
        </li>
        <li class="mt-6 text-gray-600">
            You should adhere to the time announced by the tour representatives. Failing which you will have to come to the next destination on your own expenses.
        </li>
        <li class="mt-6 text-gray-600">
            While traveling, there might be some delay in providing food, so old people and diabetic passengers should carry some refreshments.
        </li>
        <li class="mt-6 text-gray-600">
            There might be delay in train arrivals and departures and the train may not be able to follow the train timings for which you will have to bear with us.
        </li>
        <li class="mt-6 text-gray-600">
            There may be changes in the sightseeing itinerary that may be caused due to arise of situations that have to be adhered.
        </li>
        <li class="mt-6 text-gray-600">
            Announcement made in the train should be followed strictly to have pleasant travel.
        </li>
        <li class="mt-6 text-gray-600">
            In case any problem arises during the journey, the company's decision will be final.
        </li>
        <li class="mt-6 text-gray-600">
            The tourist should follow the instruction given by the tour representative and should not interfere in the administration.
        </li>
        <li class="mt-6 text-gray-600">
            No smoking and consuming alcohol in the train.
        </li>
        <li class="mt-6 text-gray-600">
            Please carry ID card at all items (like Driving License, Voter ID card, Ration Card, Pan Card) as proof of Identity for cross verification by Railway Authorities and the same has to be borne by the tourist.
        </li>
        <li class="mt-6 text-gray-600">
            If any stamped/accident/drowning in Sea/River happened at the destination due to negligence of the passengers or situational factor, our company will not be responsible.
        </li>
        <li class="mt-6 text-gray-600">
            Alternate arrangements will be made for disruption of tour on account of natural calamities and the cost to be borne by the tourist.
        </li>
        <li class="mt-6 text-gray-600">
            Arrangements will be made for medical attention during sickness and the cost to be borne by the tourist.
        </li>
        <li class="mt-6 text-gray-600">
            The tourist will have adhere by the periodical guidelines issued by the authorities during the tour through announcement and should not intervene in their working and cause any inconvenience to co-passengers.
        </li>

      </ul>
    </div>


    <!-- Our Company's DO's-->
    <div class="flex flex-wrap w-full mb-10 mt-10">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 poppins">Do's</h1>
        </div>

        <ul class="list-disc list-inside poppins text-justify bg-green-100 p-4">
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do</span>
                follow guidelines of the Tour Manager at all times. Your Tour Manager is your source of information.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do</span>
                carry a Photo Identity Card indicating proof of age such as Voter's ID, Passport, PAN Card etc. for Security reasons.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do</span>
                take complete and personal care of your belongings during the tour.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do</span>
                maintain decency of language as a courtesy towards your fellow passengers in the train and other visitors at the shrines/places you visit.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do</span>
                bear Entry Fee, if any, at the monuments if not specified in Inclusions.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do</span>
                stay in groups and follow scheduled timings at the places you visit as per instructions of the Tour Manager.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do</span>
                adheres to the revised itinerary if the situation so arises by following the instructions of Tour Manager. The itinerary provided to you may change due to unavoidable circumstances either before start of tour or during the tour.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do</span>
                leaves the contact details of person(s) to be contacted in case of any Emergency with the Tour Manager.
            </li>
        </ul>
    </div>


    <!-- Our Company's DONT's-->
    <div class="flex flex-wrap w-full mb-10 mt-10">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 poppins">Dont's</h1>
        </div>

        <ul class="list-disc list-inside poppins text-justify bg-orange-100 p-4">
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do Not</span>
                consumes alcoholic beverages, bidis, and cigarettes during the tour .our company does not provide, promote or sell alcoholic beverages/cigarettes/bidi etc. and condones the use of all such items in its programs. Consumption of such items while on train is an offence punishable under law.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do Not</span>
                carry any valuables like jewellery, antiques, electronic equipments etc., on the tour. Clients carrying the same shall do so at their own risk. In case of any theft or any law & order issues leading to loss of passenger's property, our company shall not be responsible for the same.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do Not</span>
                Carry any Prohibited articles in person or in your baggage. The client alone shall be responsible for the cost and consequences that follow in the event of the client carrying the same.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do Not</span>
                be rude while interacting with locals and Please DO NOT indulge in any arguments. In case of any doubts on any matter, you may please communicate with the Tour Manager.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do Not</span>
                indulges in Photography if the same is restricted at certain places.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do Not</span>
                offend the local regulations.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Please Do</span>
                pull the chain while traveling on train as it is a punishable offence when done without a valid reason.
            </li>
        </ul>
    </div>


    <!-- Our Company's Guidance -->
    <div class="flex flex-wrap w-full mb-10 mt-10">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 poppins">Guidance</h1>
        </div>

        <ul class="list-disc list-inside poppins text-justify bg-teal-50 p-4">
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Manager:</span>
                Your Tour Manager is your source of information. Please follow guidelines of the Tour Manager at all times.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">In The Train:</span>
                Do not pull the chain while traveling on train as it is a punishable offence when done without a valid reason.
            </li>
            <li class="mt-2 text-gray-600">
                Do not cross railway tracks. Use over foot bridges.
            </li>
            <li class="mt-2 text-gray-600">
                <span class="font-semibold">Attire</span>
                Please ensure that your attire does not offend the locals/visitors at the places you visit. At holy shrines, you may be required to remove your shoes.
            </li>
        </ul>
    </div>


    <!-- Decorum -->
    <div class="flex flex-wrap w-full mb-10 mt-10">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 poppins">Decorum</h1>
        </div>

        <ul class="list-disc list-inside poppins text-justify bg-teal-50 p-4">
            <li class="mt-2 text-gray-600">
                Please maintain decency of language as a courtesy towards your fellow passengers in the train and other visitors at the shrines/places your visit.
            </li>
            <li class="mt-2 text-gray-600">
                Do not be rude while interacting with locals and do not indulge in any arguments. In case of any doubts on any matter, please communicate with the Tour Manager.
            </li>
            <li class="mt-2 text-gray-600">
                Please be in groups and follow timings at the places you visit as per instructions of the Tour Manager.
            </li>
            <li class="mt-2 text-gray-600">
                Photography may be restricted at certain places. Do not offend the local regulations.
            </li>
            <li class="mt-2 text-gray-600">
                our company does not provide, promote or sell alcoholic beverages/cigarettes/bidi etc. and condones the use of all such items in its programs. Consumption of such items while on train is an offence punishable under law.
            </li>
        </ul>
    </div>


    <!-- Package Inclusions -->
    <div class="flex flex-wrap w-full mb-10 mt-10">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 poppins">Package Inclusions</h1>
        </div>

        <ul class="list-disc list-inside poppins text-justify bg-teal-50 p-4">
            <span class="font-semibold text-base text-slate-600">Maa Bhavani Dharmik Yatra offers 'Pilgrim Special Tourist Train' one of the most affordable all inclusive tour package, covering all the important tourist places in the country. which is inclusive of providing comfort of travel by train in 2nd Class and 3AC class Sleeper coach, Besides it, the cost is inclusive of following:
            </span>
            <li class="mt-2 text-gray-600">
                ROOM/ HALL accommodation for Standard class on Famliy sharing basis for night stay/ morning freshening up and Hotels accommodation for 3AC on Twin & Triple sharing basis at places of night stay and Quadruple sharing basis room for morning freshening up for 3AC.
            </li>
            <li class="mt-2 text-gray-600">
                Pure vegetarian meals (Breakfast, Lunch and Dinner).
            </li>
            <li class="mt-2 text-gray-600">
                Tour escorts for announcements and information.
            </li>
            <li class="mt-2 text-gray-600">
                Our company will also provide the facility of local bus auto for all the passenger and hotel lane.
            </li>
        </ul>
    </div>


    <!-- Package Exclusions -->
    <div class="flex flex-wrap w-full mb-10 mt-10">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 poppins">Package Exclusions</h1>
        </div>

        <ul class="list-disc list-inside poppins text-justify bg-teal-50 p-4">
            <li class="mt-2 text-gray-600">
                Entrance fee for monuments.
            </li>
            <li class="mt-2 text-gray-600">
                Service of Tour Guide.
            </li>
            <li class="mt-2 text-gray-600">
                All services not mentioned in the Package Inclusions.
            </li>
            <li class="mt-2 text-gray-600">
                Our company will also provide the facility of local bus auto for all the passenger and hotel lane.
            </li>


            <!--Important Note-->
            <li class="mt-2 text-gray-600 list-none bg-yellow-100 p-2">
                <span class="font-semibold">Important Note:</span>
                Maa Bhavani Dharmik Yatra has right to alter itinerary under unavoidable circumstances and is not liable for any type of natural calamities/strikes/cancellations/delay of train/insurgency of any such nature which is beyond control during the tour-period. Management is not accountable for any theft or damage of luggage during the trip. Train Trip is subject to minimum no. of passengers booked.
            </li>
            <li class="mt-2 text-gray-600 list-none bg-green-100 p-2 mt-1">
                All disputes are subject to Ranchi jurisdiction only.
            </li>
        </ul>
    </div>

</div>

          
{% endblock body %}